@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes goofy {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-goofy {
  animation: goofy 1.3s infinite;
}
